html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $negro;
    font-family: $fuente_principal;
}

h1 {
    color: $azul;
    text-align: center;
    font-family: $fuente_principal;
}

h2 {
    color: $azul;
    text-align: center;
    font-family: $fuente_principal;
}