.formulario {
    width: 100%;
    label {
        color: $blanco;
    }
    input {
        border: none;
        border-radius: 5px;
        height: 1.5rem;
    }
}

.campo {
    margin: 2rem;
    display: flex;
    label {
        flex: 1;
    }
    input {
        flex: 5;
    }
}

.fecha-hora {
    margin: 2rem;
    display: flex;
    label {
        flex: 1;
    }
    input[type="date"] {
        width: 2rem;
        flex: 3;
        @include tablet {
            flex: 3;
        }
    }
    label[for="hora"] {
        text-align: center;
        flex: 1;
    }
    input[type="time"] {
        flex: 0;
    }
}

.alerta {
    width: 80%;
    height: 2rem;
    margin: 0 auto;
    padding-top: 0.5rem;
    text-align: center;
    color: $blanco;
    display: block;
    &.error {
        color: red;
        border: red 1px solid;
        border-radius: 5px;
    }
}

.total {
    text-align: right;
}